body { /* Тело страницы */
    font-family: Arial, sans-serif; /* Шрифт на странице */
    max-width: 800px; /* Максимальная ширина */
    margin: 0 auto; /* Выравнивание по центру */
    padding: 20px; /* Внутренние отступы */
}

table { /*Таблица*/
    width: 100%; /* Использовать всю доступную ширину страницы */
    border-collapse: collapse; /* Объединение границ ячеек */
    margin-top: 20px; /* Отступ сверху */
}

th, td { /*Загаловные и обычные ячейки таблицы*/
    border: 1px solid #ddd; /* Краницы ячеек серые сплошные*/
    padding: 8px; /* Внутренние отступы */
    text-align: center; /* Выравнивание текста по центру */
}

th { /* Заголовные ячейки таблицы */
    background-color: #f2f2f2; /* Цвет фона (Дымчато-белый) */
}

form { /* Форма */
    margin-bottom: 30px; /* Отступ снизу формы */
}

input[type="text"] { /* Ввод текста */
    width: 300px; /* Ширина поля ввода */
    padding: 8px; /* Внутренние отступы */
}

button { /* Кнопка */
    padding: 8px 15px; /* Отступы в кнопке по вертикали и горизонтали соответсвенно */
    background-color: #4CAF50; /* Зеленый фон */
    color: white; /* Белый цвет текста */
    border: none; /* Без рамки */
    cursor: pointer; /* Курсор типа указателя */
}
