<!DOCTYPE html>
<html>
<head>
   <title>Сообщения</title> <%# Заголовок страницы %>
   <link rel="stylesheet" href="/style.css"> <%# Подключение стилей  %>
</head>
<body>
   <h1>Отправить сообщение</h1> <%# Загловок формы %>
   <form action= "/add" method="POST"> <%# Форма для отправки сообщений %>
      <input type="text" name="message" required> <%# Поле ввода %>
      <button type="submit">Отправить</button> <%# Кнопка отправки %>
   </form>
   <h2>Исторрия сообщений:</h2> <%# Заголовок таблицы %>
   <table> <%# Таблица для отображения сообщений%>
      <tr> <%# Строка заголовков %>
         <th>№</th> <%# Заголовок - Номер сообщения%>
         <th>Сообщение</th> <%# Заголовк - Текст сообщения%>
      </tr>
      <% messages.forEach((msg, index) => { %> <%# Цикл по сообщениям%>
      <tr>
         <%# Создание ячейки с номером, в обратном порядке%>
         <td><%= messages.length - index %></td>
         <%# Создание ячейки с сообщением%>
         <td><%= msg %></td>
      </tr>
      <% }); %> <%# Конец цикла %>
   </table>
</body>
</html>
